﻿<div class="row">
    <form id="MovieData" name="MovieData">
        <table>
            <tr><td>MovieId</td><td><input type="text" name="MovieId" /></td></tr>
            <tr><td>Title</td><td><input type="text" name="title" /></td></tr>
            <tr><td>Rating</td><td><input type="text" name="rating" /></td></tr>
            <tr><td>Classification</td><td><input type="text" name="classification" /></td></tr>
            <tr><td>Release Date</td><td><input type="text" name="ReleaseDate" /></td></tr>
            <tr><td>Genre</td><td><input type="text" name="genre" /></td></tr>
        </table>
        <input type="button" class="submitbtn" value="Search" />

    </form>
    <div id="response"></div>
    <script>
        $(function () {
            LoadData();
            $(".submitbtn").click(function () {
                LoadData();
            })
        });
        function LoadData() {
            $.ajax({
                url: 'movies/LoadMovies',
                type: 'post',
                data: $("#MovieData").serialize(),
                success: function (data, textStatus, jQxhr) {
                    $('#response').html("");
                    var html = "<table width='100%'>";
                    var html = "<tr><td width='200px'>MovieId</td><td  width='200px'>Title</td><td  width='200px'>Classification</td><td  width='200px'>Genre</td><td  width='200px'>Rating</td><td  width='200px'>Release Date</td></tr>";
                    for (var r in data) {
                        html += "<tr>";
                        html += "<td>" + data[r].movieId + "</td>";
                        html += "<td>" + data[r].title + "</td>";
                        html += "<td>" + data[r].classification + "</td>";
                        html += "<td>" + data[r].genre + "</td>";
                        html += "<td>" + data[r].rating + "</td>";
                        html += "<td>" + data[r].releaseDate + "</td>";
                        html += "</tr>";
                    }
                    html += "</table>"
                    $('#response').html(html);
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        }
    </script>
</div>
